<template>
  <layout-wrapper>

    <g-link to="/blog">Back to Blog</g-link>

    <h1 class="tag-title text-center space-bottom">
      # {{ $page.tag.title }}
    </h1>

    <div class="posts">
      <PostCard v-for="edge in $page.tag.belongsTo.edges" :key="edge.node.id" :post="edge.node"/>
    </div>
  </layout-wrapper>
</template>

<page-query>
  query Tag ($id: String!) {
    tag (id: $id) {
      title
      belongsTo {
        edges {
          node {
            ...on BlogPost {
              title
              path
              date (format: "D. MMMM YYYY")
              description
              content
              image
            }
          }
        }
      }
    }
  }
</page-query>

<script>
  import PostCard from '~/components/PostCard.vue';

  export default {
    components: {
      PostCard
    },
  }
</script>

<style scoped>
  .posts article {
    border: 1px solid greenyellow;
  }
</style>
