<template>
  <div>
    <h1>oooops no page found :(</h1>
    <g-link to="/">Please try home page...</g-link>
  </div>
</template>

<script>
export default {
  name: '404',
  metaInfo: {
    title: '404 - Not Found',
    meta: [
      {name: "robots", content: "noindex, nofollow"}
    ]
  }
}
</script>
