<template>
  <layout-wrapper>

    <!-- Posts Categories -->
    <section class="tags">
      <p>Categories:</p>
      <g-link to="/blog">
        # All
      </g-link>
      <div v-for="tags in $static.allTag.edges" :key="tags.node.id">
        <g-link :to="tags.node.path"># {{ tags.node.title }}</g-link>
      </div>
    </section>

    <!-- Post Article -->
    <section class="posts">
      <PostCard v-for="edge in $page.allBlogPost.edges" :key="edge.node.id" :post="edge.node" />
    </section>

  </layout-wrapper>
</template>

<script>
import PostCard from '~/components/PostCard.vue';

export default {
  components: {
    PostCard
  },
  metaInfo: {
    title: 'Gridsome Blog Home'
  }
}
</script>

<page-query>
  query Home ($page: Int) {
    allBlogPost (page: $page) {
      edges {
        node {
          id
          title
          date (format: "D MMMM, YYYY")
          description
          path
          image
          tags {
            id
            title
            path
          }
          ...on BlogPost {
              id
              title
              path
          }
        }
      }
    }
  }
</page-query>

<static-query>
  query allTag {
    allTag  {
      edges {
        node {
          id
          title
          path
        }
      }
    }
  }
</static-query>

<style scoped>
  article {
    border: 1px solid red;
    padding: 10px;
    margin: 10px 0;
  }
</style>
