<template>
  <layout-wrapper>
    <h1>Home page</h1>
  </layout-wrapper>
</template>

<script>
export default {
  metaInfo: {
    title: 'Gridsome Blog Home',
    meta: [
      { name: 'author', content: 'Duca' },
      { name: 'description', content: 'Duca is bulding Gridsome website'}
    ]
  }
}
</script>


<style>
</style>