<template>
  <article>
    <g-link :to="post.path">

      <div>
        <h2 v-html="post.title" />
        <p v-html="post.date"></p>
        <p v-html="post.description" />
      </div>

      <div>
        <g-image :src="post.image" :alt="post.title"/>
      </div>

    </g-link>
  </article>
</template>

<script>
  export default {
    props: ['post']
  }
</script>

